body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.page-header .logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page-header .logo span {
    color: #2E2F42;
}

.navigation-menu-list-item-link {
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-menu-list-item-link:hover,
.navigation-menu-list-item-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}

.contact-list-item-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-list-item-link:hover,
.contact-list-item-link:focus {
    color: #404BBF;
}

.section-header {
    background-color: #2E2F42;
}

.main-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.order-service {
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.order-service:hover,
.order-service:focus {
    background-color: #404BBF;
}

.our-advantages-list-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-advantages-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    background-color: #F4F4FD;
}

.our-team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team-list-item {
    background-color: #ffffff;
}

.our-team-list-item-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-team-list-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.our-portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-portfolio-list-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-portfolio-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2E2F42;
}

.page-footer .logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-two-part-of-text {
    color: #F4F4FD;
}

.page-footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}